<div>
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <a mat-button class="companyName" routerLink="/">
      <span><mat-icon>eco</mat-icon> Jobs</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/register" routerLinkActive='active'>Home</a>
      <a mat-button routerLink="/jobs">Jobs</a>
      <a mat-button>SignUp</a>
      <a mat-raised-button routerLink="/login" color="darken">Register</a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav color="primary"  #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/register" routerLinkActive='active'>Home</a>
        <a mat-button routerLink="/jobs">Jobs</a>
        <a mat-button>SignUp</a>
        <a mat-raised-button routerLink="/login" color="darken">Register</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      Job matching
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
