<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height:100vh">
  <div fxLayout="row wrap">
    <div
        fxFlex="33.3"
        fxFlex.md="33.3"
        fxFlex.sm="100"
        fxFlex.xs="100"
        fxLayout="column"
        style="height: 40vh;">
        <mat-card class="mat-elevation-z0 outline">
        <mat-card-content class="sect1"> 
          <div class ="card-content">
            <p> </p>
            <p>Jobs </p>
            <p>Jobs </p>
            <p style="padding-bottom: 200px;">Jobs </p>
          </div>
        </mat-card-content>
    </mat-card>
    </div>

  <div
        fxFlex="33.3"
        fxFlex.md="33.3"
        fxFlex.sm="100"
        fxFlex.xs="100"
        fxLayout="column"
        style="height: 40vh; z-index: 10;">
        <mat-card class="mat-elevation-z0 outline">
        <mat-card-content class="sect1"> 
           
        <!-- Add new Job part starts here -->
        <div>
          <button style="float: right; margin-right: 50px; margin-top: 15px" (click)="isShown = !isShown" mat-raised-button color="accent">{{isShown === false? 'Add': 'Add'}} Jobs</button>
          <br/>
          <br/>
          <form #someForm="ngForm" class="example-form" *ngIf="isShown">
            <mat-form-field class="example-full-width">
              <input 
              matInput placeholder="Name of the job" 
              required
              minlength="6"
              name="name"
              ngModel
              #name="ngModel"
              [(ngModel)]="addJobData.name"
              >
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input 
              matInput placeholder="Posted by" 
              required
              minlength="6"
              name="posted_by"
              ngModel
              #posted_by="ngModel"
              [(ngModel)]="addJobData.posted_by"
              >
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input 
              matInput placeholder="category of the job" 
              required
              minlength="6"
              name="category"
              ngModel
              #category="ngModel"
              [(ngModel)]="addJobData.category"
              >
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input 
              matInput placeholder="location of the job" 
              required
              minlength="6"
              name="location"
              ngModel
              #lacation="ngModel"
              [(ngModel)]="addJobData.location"
              >
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input 
              matInput placeholder="carear level of the job" 
              required
              minlength="6"
              name="career_level"
              ngModel
              #career_level="ngModel"
              [(ngModel)]="addJobData.career_level"
              >
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input 
              matInput placeholder="employment_type the job" 
              required
              minlength="6"
              name="employment_type"
              ngModel
              #employment_type="ngModel"
              [(ngModel)]="addJobData.employment_type"
              >
            </mat-form-field>
            <!-- <mat-form-field class="example-full-width">
              <input type="number" matInput placeholder="eligible people" value="0"
              ngModel name="cost">
            </mat-form-field> -->
            <!-- <mat-form-field appearance="fill">
              <mat-label>Select an option</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option value="Engineers">Engineers</mat-option>
                <mat-option  value="Health science">Health science</mat-option>
                <mat-option value="Medical">Medical</mat-option>
              </mat-select>
            </mat-form-field> -->
          
            
          <mat-form-field class="example-full-width">
              <mat-label>Leave a Description</mat-label>
              <textarea
               matInput placeholder="Ex. This is the discription"
               required
               minlength="6"
               name="description"
               ngModel
               #description="ngModel"
               [(ngModel)]="addJobData.description"
              ></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Leave a Description</mat-label>
            <textarea
             matInput placeholder="This is the job requirment"
             required
             minlength="6"
             name="job_requirements"
             ngModel
             #job_requirements="ngModel"
             [(ngModel)]="addJobData.job_requirements"
            ></textarea>
        </mat-form-field>
              
            <button (click)="loginEmployer()" mat-raised-button color="primary">Add</button>
          </form>   
          </div>
          <!-- Add new job part ends here -->
        </mat-card-content>
    </mat-card>
  </div>
  </div>
<!-- the second row starts here -->
<div fxLayout="row wrap">
  <div *ngFor="let job of jobs"
      fxFlex="33.3"
      fxFlex.md="33.3"
      fxFlex.sm="100"
      fxFlex.xs="100"
      fxLayout="column"
      style="height: 40vh;">
      <mat-card class="mat-elevation-z0 outline">
      <mat-card-content class="sect1"> 
        <div class ="card-content">
          <div class="icon-block">
            <h2 class="center light-blue-text"><span class="material-icons">
              info
              </span></h2>
            <h5 class="center">{{job.name}} </h5>
            <p class="light">{{ job.description }}</p>
            <p class="light">{{ job.jobId }}</p>
          </div>
          <p style="padding-bottom: 200px;">Jobs </p>
        </div>
      </mat-card-content>
  </mat-card>
</div>
</div>
  <!-- the second row starts here -->
  </div>
  
  
  
  
  
  
  
  
  
  











<!-- <div class="container"
    xLayout
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"></div>

<div class="container"
     fxLayout
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0"
>
  <div class="item item-1"
       fxFlex="15%"
  >
    Item 1
  </div>
  <div class="item item-2"
       fxFlex="20%"
       fxFlexOrder="3"
  >
    Item 2
  </div>
  <div class="item item-3"
       fxFlex
  >
    Item 3
  </div>
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxFlex.md="33"
     fxFlex.sm="50"
     fxFlex.xs="100"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0"
>
  <div class="item item-4"
       fxFlex
       fxFlexOffset="50px"
       fxFlexOffset.xs="0"
        fxFlex.md="33"
        fxFlex.sm="50"
        fxFlex.xs="100"
  >
    Item 4
  </div>
  <div class="item item-5"
       fxFlex="200px"
       fxFlex.md="33"
     fxFlex.sm="50"
     fxFlex.xs="100"
  >
    Item 5
  </div>
</div>

<mat-list>
    <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h2 matLine>Hello there what are you doing know</h2>
        <p matLine>The national state of the horn of africa</p>
     </mat-list-item>
    <mat-list-item> 
        <mat-icon matListIcon>folder</mat-icon>
        <h2 matLine>Hello there what are you doing know</h2>
        <p matLine>The national state of the horn of africa</p>
    </mat-list-item>
   </mat-list> -->
