<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height:100vh">
    <div fxLayout="row wrap" class="FirstRow">
        <div
            fxFlex="100"
            fxFlex.md="100"
            fxFlex.sm="100"
            fxFlex.xs="100"
            fxLayout="column"
            style="height: 40vh;">
            <mat-card class="mat-elevation-z0 outline">
            <img mat-card-image [src]="" />
            <mat-card-title style="text-align: center;"> 
                Better Job Better Talent 
            </mat-card-title>
            <mat-card-content class="sect1"> 
                <p>Jobs </p>
                <p>Jobs </p>
                <p>Jobs </p>
                <p style="padding-bottom: 200px;">Jobs </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<div fxLayout="row wrap">
  <div
      fxFlex="33.3"
      fxFlex.md="33.3"
      fxFlex.sm="100"
      fxFlex.xs="100"
      fxLayout="column"
      style="height: 40vh;">
      <mat-card class="mat-elevation-z0 outline">
      <mat-card-content class="sect1"> 
        <div class ="card-content">
          <p>Jobs </p>
          <p>Jobs </p>
          <p>Jobs </p>
          <p style="padding-bottom: 200px;">Jobs </p>
        </div>
      </mat-card-content>
  </mat-card>
</div>
 <div
      fxFlex="33.3"
      fxFlex.md="33.3"
      fxFlex.sm="100"
      fxFlex.xs="100"
      fxLayout="column"
      style="height: 40vh;">
      <mat-card class="mat-elevation-z0 outline">
      <mat-card-content class="sect1"> 
          <p>Jobs </p>
          <p>Jobs </p>
          <p>Jobs </p>
          <p style="padding-bottom: 200px;">Jobs </p>
      </mat-card-content>
  </mat-card>
</div>
<div
      fxFlex="33.3"
      fxFlex.md="33.3"
      fxFlex.sm="100"
      fxFlex.xs="100"
      fxLayout="column"
      style="height: 40vh;">
      <mat-card class="mat-elevation-z0 outline">
      <mat-card-content class="sect1"> 
          <p>Jobs </p>
          <p>Jobs </p>
          <p>Jobs </p>
          <p style="padding-bottom: 200px;">Jobs </p>
      </mat-card-content>
  </mat-card>
</div>
</div>
</div>











<!-- <div class="container"
    xLayout
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"></div>

<div class="container"
     fxLayout
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0"
>
  <div class="item item-1"
       fxFlex="15%"
  >
    Item 1
  </div>
  <div class="item item-2"
       fxFlex="20%"
       fxFlexOrder="3"
  >
    Item 2
  </div>
  <div class="item item-3"
       fxFlex
  >
    Item 3
  </div>
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxFlex.md="33"
     fxFlex.sm="50"
     fxFlex.xs="100"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0"
>
  <div class="item item-4"
       fxFlex
       fxFlexOffset="50px"
       fxFlexOffset.xs="0"
        fxFlex.md="33"
        fxFlex.sm="50"
        fxFlex.xs="100"
  >
    Item 4
  </div>
  <div class="item item-5"
       fxFlex="200px"
       fxFlex.md="33"
     fxFlex.sm="50"
     fxFlex.xs="100"
  >
    Item 5
  </div>
</div>

<mat-list>
    <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h2 matLine>Hello there what are you doing know</h2>
        <p matLine>The national state of the horn of africa</p>
     </mat-list-item>
    <mat-list-item> 
        <mat-icon matListIcon>folder</mat-icon>
        <h2 matLine>Hello there what are you doing know</h2>
        <p matLine>The national state of the horn of africa</p>
    </mat-list-item>
   </mat-list> -->
