mat-card{
    height: 650 px;  
    background-size: 50% ;  
    background-size: cover; 
    border: none;
}
.FirstRow{
    background-color: blue;
}
.outline {
    border-style: solid;
    border-width: medium;
}
